nav{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  float: center;
}

nav a{
  display: block;
  color: black;
  text-align: center;
  padding: 42px 45px;
  text-decoration: none;
}
nav a:hover {
  background-color: bisque;
}

h1{
    text-align: center;
}

img{
    display: block;
    margin: auto;
}

.logo {
    float: left;
    display: flex;
    width: auto;
    height: 150px;;
    justify-content: left;
    size: 20px;
}